<h2 class="align-start">Your Thread History Page . . .</h2>

<!-- This is the History Thread list container -->
<div class="w-full col-container g-16">
  <!-- Each Thread Component -->
  <div
    class="w-full col-container items-center g-16"
    *ngFor="let thread of threadList"
  >
    <!-- Thread Card Content -->
    <app-thread-card
      *ngIf="createdByUser"
      [creatorId]="createdByUser.id || 'Invalid Id'"
      [creatorName]="createdByUser.name || 'Invalid Name'"
      [creatorRole]="createdByUser.role || 'Invalid Role'"
      [creatorAvatar]="createdByUser.avatar || ''"
      [description]="thread.description"
      [tagList]="['Depression', 'Mental Trauma', 'Stress']"
      [showDelete]="true"
      (onDeleteClick)="onDeleteThreadClick(thread.id)"
      [isHoverEffect]="false"
    />

    <!-- Horizontal Divider -->
    <hr />
  </div>
</div>
