<h2 class="align-start">Your Thread History Page . . .</h2>

<!-- This is the History Thread list container -->
<div class="w-full col-container g-16">
  <!-- Each Thread Component -->
  <div
    class="w-full col-container items-center g-16"
    *ngFor="let thread of threadList"
  >
    <!-- Thread Card Content -->
    <app-thread-card
      *ngIf="createdByUser"
      [createdBy]="createdByUser"
      [threadId]="thread.id"
      [description]="thread.description"
      [tagList]="thread.tags"
      [totalLikes]="thread.totalLikes"
      [totalComments]="thread.totalComments"
      [isLiked]="thread.isLikedByCurrentUser"
      [showMore]="false"
      [showDelete]="true"
      (onDeleteClick)="onDeleteThreadClick(thread.id)"
    />

    <!-- Horizontal Divider -->
    <hr />
  </div>
</div>
