<div
  class="intro-component col-container g-24 p-24 items-center justify-center"
>
  <h1>Here to Listen, Here to Help!</h1>

  <p class="body-text">
    Need a safe space to talk?
    <span class="secondary-text">Our chatbot</span> is here to listen. Whether
    you have questions about mental health,
    <span class="accent-text">need a comforting chat</span>, or just want to
    unload your thoughts, it's got your back—empathetic, friendly, and always
    judgment-free.
  </p>

  <!-- Notes for Users -->
  <div class="card-container warning col-container p-16 g-16">
    <!-- Warning Title Container -->
    <div class="row-container g-16 items-center">
      <svg viewBox="0 0 512 512" class="warning-svg">
        <path
          d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
        />
      </svg>

      <p class="body-text warning-text">Warning</p>
    </div>

    <p class="body-text">
      You can open
      <span class="warning-text">multiple conversation sessions</span> to
      explore different topics and pick up where you left off anytime within
      <span class="warning-text">2 days.</span> After that, we
      <span class="warning-text">clear the chats</span>
      to keep things fresh and our databases tidy. 🗑️
    </p>
  </div>

  <!-- Button to get started -->
  <button class="btn btn-primary w-40" (click)="onGetStartedClick()">
    Get Started
  </button>
</div>
