<div class="w-50 col-container g-24 space">
  <div class="col-container g-24">
    <!-- Title Container -->
    <h2>Chatbot Conversation</h2>

    <!-- Message Cards -->
    <div
      *ngFor="let message of messages; let i = index"
      class="w-70 card-container p-24"
      [ngClass]="{ 'align-right': i % 2 === 0, 'align-left': i % 2 === 1 }"
    >
      <p class="muted-text body-text">{{ message }}</p>
    </div>
  </div>

  <!-- User Input -->
  <app-input
    placeholder="Enter your Query"
    buttonText="Generate"
    (onButtonClick)="onGenerateClick($event)"
  />
</div>
