:host {
  min-height: 100vh;
  min-width: 100vw;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.space {
  justify-content: space-between;
}

.header-padding {
  padding: 16px 24px;
}

.navigation-btn {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--surface-variant);
}

.navigation-btn:hover,
.active {
  background-color: var(--surface-variant);
}

.nav-parent {
  position: relative;
}

.dropdown-nav-parent {
  position: absolute;
  top: 100%;
  right: 0;

  width: 200px;
  z-index: 10;
}

.avatar {
  height: 48px;
  width: 48px;

  display: flex;

  border-radius: 50%;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.svg {
  height: 24px;
  width: 24px;

  fill: var(--accent);
}

.outer-container {
  width: 100%;
}
