<!-- This is the page header -->
<header class="card-container row-container g-24 items-center space header-padding">
  <!-- This is the title for the website -->
  <h1>Harmoniq</h1>

  <!-- This is the navigation which is passed by the parent component -->
  <nav class="nav-parent">
    <!-- Profile Pic -->
    <div class="row-container g-4 items-center pointer" (click)="toggleProfileClick()">
      <img class="avatar" [src]="userData.avatar" alt="User Profile Avatar" />

      <svg viewBox="0 0 448 512" class="svg" *ngIf="!isExpanded">
        <path
          d="M384 432c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0zm64-16c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320zM224 352c-6.7 0-13-2.8-17.6-7.7l-104-112c-6.5-7-8.2-17.2-4.4-25.9s12.5-14.4 22-14.4l208 0c9.5 0 18.2 5.7 22 14.4s2.1 18.9-4.4 25.9l-104 112c-4.5 4.9-10.9 7.7-17.6 7.7z"
        />
      </svg>

      <svg viewBox="0 0 448 512" class="svg" *ngIf="isExpanded">
        <path
          d="M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm224 64c6.7 0 13 2.8 17.6 7.7l104 112c6.5 7 8.2 17.2 4.4 25.9s-12.5 14.4-22 14.4l-208 0c-9.5 0-18.2-5.7-22-14.4s-2.1-18.9 4.4-25.9l104-112c4.5-4.9 10.9-7.7 17.6-7.7z"
        />
      </svg>
    </div>

    <!-- Inner Navigation Parent Container -->
    <div *ngIf="isExpanded" class="dropdown-nav-parent card-container col-container p-16 g-16">
      <!-- Navigation Options -->
      <button
        *ngFor="let option of ['chatbot', 'threads', 'profile']"
        [routerLink]="option === 'profile' ? 'profile/' + userData.id : option"
        routerLinkActive="active"
        class="btn navigation-btn"
        (click)="toggleProfileClick()"
      >
        {{ option | titlecase }}
      </button>

      <button class="btn btn-destructive" (click)="onLogoutClick()">Logout</button>
    </div>
  </nav>
</header>

<!-- Child Routes of this Module -->
<main class="flex-1 row-container justify-center">
  <div class="outer-container row-container justify-center">
    <router-outlet />
  </div>
</main>
