:host {
  min-height: 100vh;
  min-width: 100vw;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.space {
  justify-content: space-between;
}

.no-list-style {
  list-style: none;
}

.navigation-btn {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--surface-variant);
}

.navigation-btn:hover,
.active {
  background-color: var(--surface-variant);
}

.outer-container {
  width: 100%;
}
