<!-- Horizontal and Vertical Line Decoration -->
<div class="line-parent">
  <div class="vertical-line"></div>
</div>

<div class="w-full comment-card card-container col-container p-16 g-16">
  <div class="row-container items-center g-8">
    <!-- Profile Pic -->
    <img
      class="profile-image"
      src="https://plus.unsplash.com/premium_vector-1722702997995-266ee207b17e?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Profile Image"
    />

    <!-- Name and Account Type -->
    <div>
      <p class="comment-title">{{ creatorName }}</p>
      <p class="role">{{ creatorRole | titlecase }}</p>
    </div>
  </div>

  <!-- Comment Content -->
  <p class="comment-description">{{ comment }}</p>
</div>
