<!-- Horizontal and Vertical Line Decoration -->
<div class="line-parent">
  <div class="vertical-line"></div>
</div>

<div class="w-full comment-card card-container col-container p-16 g-16">
  <div class="row-container items-center g-8">
    <!-- Profile Pic -->
    <img
      class="profile-image"
      [src]="createdBy.avatar"
      alt="Profile Image"
      (click)="onAvatarClick()"
    />

    <!-- Name and Account Type -->
    <div>
      <p class="primary-text body-text">{{ createdBy.name | titlecase }}</p>

      <small
        class="secondary-text caption-text"
        [ngClass]="{ 'error-text': isModerator }"
      >
        {{ createdBy.role | titlecase }}
      </small>
    </div>
  </div>

  <!-- Comment Content -->
  <p class="body-text muted-text">{{ comment }}</p>
</div>
