:host,
.w-full {
  width: 100%;
}

.card-essentials {
  cursor: pointer;
}

.space {
  justify-content: space-between;
}

.profile-image {
  height: 48px;
  width: 48px;

  border-radius: 50%;
  cursor: pointer;
}

.card-btn {
  padding: 8px;
  background-color: var(--surface-variant);
}

.svg {
  height: 16px;
  width: 16px;
}

.fill-error {
  fill: var(--error);
}

.fill-secondary {
  fill: var(--secondary);
}
