<div
  class="w-full card-container col-container card-essentials g-16 p-16"
  (click)="onThreadClick()"
  [ngClass]="{ 'card-hover': isHoverEffect }"
>
  <!-- Profile Header Container which contains the user image , user name and role -->
  <div class="row-container g-16 items-center space">
    <div class="row-container g-8 items-center">
      <!-- Profile Pic -->
      <img
        class="profile-image"
        [src]="creatorAvatar"
        alt="Profile Image"
        (click)="onAvatarClick()"
      />

      <!-- Name and Account Type -->
      <div>
        <p class="body-text primary-text">{{ creatorName }}</p>
        <small
          class="caption-text secondary-text"
          [ngClass]="{ 'error-text': creatorRole === 'MODERATOR' }"
        >
          {{ creatorRole | titlecase }}
        </small>
      </div>
    </div>

    <!-- Delete Button -->
    <button
      *ngIf="showDelete"
      class="btn btn-destructive"
      (click)="onDeleteClick()"
    >
      Delete
    </button>
  </div>

  <!-- Thread Description -->
  <p class="body-text muted-text">{{ description }}</p>

  <!-- Tags for this Thread -->
  <div class="row-container items-center g-16 flex-wrap">
    <small
      class="variant-card-container row-container items-center justify-center p-8 caption-text accent-text"
      *ngFor="let tag of tagList"
    >
      {{ tag }}
    </small>
  </div>
</div>
