:host,
.w-full {
  width: 100%;
}

.card-essentials {
  cursor: pointer;
}

.card-hover:hover {
  background-color: var(--surface-variant);
}

.space {
  justify-content: space-between;
}

.profile-image {
  height: 48px;
  width: 48px;

  border-radius: 50%;
}
