<!-- Main Component -->
<div class="w-full col-container g-16">
  <!-- Thread Card Component-->
  <app-thread-card
    *ngIf="threadDetail"
    [creatorId]="threadDetail.createdBy.id || 'Invalid Id'"
    [creatorName]="threadDetail.createdBy.name || 'Invalid Creator'"
    [creatorRole]="threadDetail.createdBy.role || 'Invalid Role'"
    [creatorAvatar]="threadDetail.createdBy.avatar || ''"
    [description]="threadDetail.description"
    [tagList]="threadDetail.tags"
    [isHoverEffect]="false"
  />

  <!-- Comment Input Component -->
  <app-input
    *ngIf="!isGuest && threadDetail"
    [placeholder]="'Add a Comment'"
    [buttonText]="'Add a Comment'"
    [type]="'text'"
    (onButtonClick)="onCommentClick($event)"
  />

  <!-- Comment Container -->
  <div class="w-full">
    <div class="w-full" *ngFor="let comment of threadDetail?.comments">
      <!-- Each Comment Card Component -->
      <app-comment-card
        [creatorId]="comment.createdBy.id || 'Invalid Id'"
        [creatorName]="comment.createdBy.name || 'Invalid Name'"
        [creatorRole]="comment.createdBy.role || 'Invalid Role'"
        [creatorAvatar]="comment.createdBy.avatar || ''"
        [comment]="comment.content"
      />
    </div>
  </div>
</div>
