<!-- Main Component -->
<div class="w-full col-container g-16">
  <!-- Thread Card Component-->
  <app-thread-card
    *ngIf="threadDetail"
    [createdBy]="threadDetail.createdBy"
    [threadId]="threadDetail.id"
    [description]="threadDetail.description"
    [tagList]="threadDetail.tags"
    [totalLikes]="threadDetail.totalLikes"
    [totalComments]="threadDetail.totalComments"
    [isLiked]="threadDetail.isLikedByCurrentUser"
    [showMore]="false"
  />

  <!-- Comment Input Component -->
  <app-input
    *ngIf="!isGuest && threadDetail"
    [placeholder]="'Add a Comment'"
    [buttonText]="'Add a Comment'"
    [type]="'text'"
    (onButtonClick)="onCommentClick($event)"
    [disabled]="loaderState"
  />

  <!-- Comment Container -->
  <div class="w-full" [@staggerAnimation]="threadDetail?.comments?.length">
    <div class="w-full" *ngFor="let comment of threadDetail?.comments">
      <!-- Each Comment Card Component -->
      <app-comment-card [createdBy]="comment.createdBy" [comment]="comment.content" />
    </div>
  </div>
</div>
