<!-- This is the Component which draws the Search Input -->
<div class="input-container">
  <app-input
    [placeholder]="'Enter the tag to search'"
    [buttonText]="'Search'"
    [type]="'text'"
    (onButtonClick)="onSearchClick($event)"
    [disabled]="loaderState"
  />
</div>

<!-- This is the Thread list container -->
<div class="w-full col-container g-16" [@staggerAnimation]="threadList.length">
  <!-- Each Thread Component -->
  <div
    class="w-full col-container items-center g-16"
    *ngFor="let thread of threadList"
  >
    <!-- Thread Card Component-->
    <app-thread-card
      [createdBy]="thread.createdBy"
      [threadId]="thread.id"
      [description]="thread.description"
      [tagList]="thread.tags"
      [totalLikes]="thread.totalLikes"
      [totalComments]="thread.totalComments"
      [isLiked]="thread.isLikedByCurrentUser"
      (onShowMoreClick)="onThreadCardClick(thread.id)"
    />

    <!-- Horizontal Divider -->
    <hr />
  </div>
</div>
