<!-- This is the Component which draws the Search Input -->
<div class="input-container">
  <app-input
    [placeholder]="'Enter the tag to search'"
    [buttonText]="'Search'"
    [type]="'text'"
    (onButtonClick)="onSearchClick($event)"
  />
</div>

<!-- This is the Thread list container -->
<div class="w-full col-container g-16">
  <!-- Each Thread Component -->
  <div
    class="w-full col-container items-center g-16"
    *ngFor="let thread of threadList"
  >
    <!-- Thread Card Component-->
    <app-thread-card
      [creatorId]="thread.createdBy.id || 'Invalid Id'"
      [creatorName]="thread.createdBy.name || 'Invalid Name'"
      [creatorRole]="thread.createdBy.role || 'Invalid role'"
      [creatorAvatar]="thread.createdBy.avatar || ''"
      [description]="thread.description"
      [tagList]="['Depression', 'Mental Trauma', 'Stress']"
      (onThreadClick)="onThreadCardClick(thread.id)"
    />

    <!-- Horizontal Divider -->
    <hr />
  </div>
</div>
