:host {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 100%;

  border-radius: var(--border-radius);
  border: 1px dashed var(--surface-variant);
}

.input-container:focus-within {
  border: 1px dashed var(--primary);
}

.input-element {
  border: none;
}
