/* Utility Padding CSS */
.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.p-40 {
  padding: 40px;
}

/* Gapping Utility CSS */
.g-4 {
  gap: 4px;
}

.g-8 {
  gap: 8px;
}

.g-16 {
  gap: 16px;
}

.g-24 {
  gap: 24px;
}

.g-32 {
  gap: 32px;
}

/* Utility Container CSS */
.flex-1 {
  flex: 1;
}

.row-container {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
