<!-- Component that shows the selection -->
<div class="row-container justify-center chosen-avatar">
  <img
    [src]="currentChosenAvatar"
    alt="Choosen Avatar"
    (click)="onEnableChooseMode()"
  />
</div>

<!-- This is the Component Container which shows all the avatars to choose from -->
<div *ngIf="chooseMode" class="choose-component variant-card-container">
  <!-- Title Container -->
  <div class="row-container g-32 space items-center">
    <h3>Choose your avatar !!</h3>

    <button
      class="btn btn-destructive"
      type="button"
      (click)="onDisableChoosemode()"
    >
      Close
    </button>
  </div>

  <!-- Image Container which shows all the avatars -->
  <div class="avatar-list-container">
    <!-- Each Avatar Component -->
    <img
      *ngFor="let avatar of avatarList"
      class="avatar-options"
      [src]="avatar"
      alt="Avatar Pic"
      (click)="onAvatarChosen(avatar)"
    />
  </div>
</div>
