:host {
  height: 100%;
  width: 100%;
}

.chosen-avatar {
  height: 100%;
  width: 100%;

  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.choose-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;

  max-height: 600px;
  max-width: 600px;

  display: flex;
  flex-direction: column;

  gap: 24px;
  padding: 32px;

  z-index: 999;
}

.space {
  justify-content: space-between;
}

.avatar-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 32px;
}

.avatar-options {
  height: 54px;
  width: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  cursor: pointer;
}
