<!-- Grid Container for the whole Layout -->
<div class="grid-container">
  <!-- Profile Section for the Threads Feature -->
  <div class="col-container card-container p-24 g-16">
    <!-- Title -->
    <h2>Profile Section</h2>

    <!-- This is the profile container Success State -->
    <div>
      <p>Success State : Not Yet Implemented</p>
    </div>
  </div>

  <div class="col-container g-16">
    <!-- Card container to view Feed Page -->
    <div
      class="card-container col-container p-16 g-8 hover-variant"
      (click)="onNavigateToFeedClick()"
    >
      <h3>Navigate to Feed . . .</h3>

      <p class="muted-text body-text">
        Click me to head to the <span class="primary-text">feed page</span>,
        where you can see the all the threads listed by various individuals.
      </p>
    </div>

    <!-- Card Container to View The Thread Creation Page -->
    <div
      *ngIf="!isGuest"
      class="card-container col-container p-16 g-8 hover-variant"
      (click)="onPostThreadClick()"
    >
      <h3>Post a new Thread . . .</h3>

      <p class="muted-text body-text">
        Click me to head to the
        <span class="primary-text">post thread page</span>, where you can post
        new threads.
      </p>
    </div>

    <!-- Card Container to View Thread History Page -->
    <div
      *ngIf="!isGuest"
      class="card-container col-container p-16 g-8 hover-variant"
      (click)="onViewHistoryClick()"
    >
      <h3>View my Threads . . .</h3>

      <p class="muted-text body-text">
        Click here to head to the
        <span class="primary-text">Thread History page </span>, where you can
        see your created threads.
      </p>
    </div>
  </div>
</div>
