:host {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  height: 80%;
  width: 80%;

  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 24px;
}

.highlight {
  color: var(--primary);
}
