<!-- Idle State -->
<div class="auth-container card-container" @scaleUpAnimation>
  <!-- Register Component Masked Container -->
  <div class="auth-item">
    <!-- Register Component -->
    <app-register
      *ngIf="!isLoginMode"
      class="flex-1 p-40 items-center justify-center"
      (onSuccess)="onRegistrationSuccess()"
      @slideLeftAnimation
    />

    <!-- Register Mask Component -->
    <div
      *ngIf="isLoginMode"
      class="variant-card-container col-container g-32 flex-1 p-24 items-center justify-center z-99"
      @slideLeftAnimation
    >
      <h1>Kept the kettle warm! ☕</h1>

      <p class="text-center body-text muted-text">
        Welcome home! <span class="primary-text">Harmoniq</span> missed you. Whether you're here to
        <span class="secondary-text">catch up, vent, or just chill</span>, this space is always
        yours. Settle in, reconnect, and remember—you're never alone here. Need a chat?
        <span class="accent-text">Our friendly bot is all ears</span> (well, metaphorically).💙
      </p>

      <button class="w-70 btn btn-secondary" (click)="toggleAuthMode()">Go To Register Page</button>
    </div>
  </div>

  <!-- Login Component Masked Container -->
  <div class="auth-item">
    <!-- Login Component -->
    <app-login
      *ngIf="isLoginMode"
      class="flex-1 p-40 items-center justify-center"
      (onSuccess)="onLoginSuccess()"
      @slideRightAnimation
    />

    <!-- Login Mask Component -->
    <div
      *ngIf="!isLoginMode"
      class="variant-card-container col-container g-32 flex-1 p-24 items-center justify-center z-99"
      @slideRightAnimation
    >
      <h1>Just landed? Get cozy! ☕</h1>

      <p class="text-center body-text muted-text">
        Welcome to <span class="primary-text">Harmoniq</span>, your little corner of comfort on the
        internet. Whether you're here to
        <span class="secondary-text">share, listen, or just vibe</span> in a judgment-free zone,
        you're in good company. Oh, and if you ever need a heart-to-heart, our
        <span class="accent-text">friendly bot is always up</span> for a chat. 💙
      </p>

      <button class="w-70 btn btn-secondary" (click)="toggleAuthMode()">Go to Login Page</button>
    </div>
  </div>
</div>
